#mainChessBoard
{
    width:557px;
    height:557px;
    border:1px solid black;
}

#mainChessBoard div
{
 width:60px;
 height:60px;
 border:5px solid black;
 float:left;
}

#plabel
{
	font-size: 25px;
	height:30px;
}

#moveButton
{
	height:30px;
	width:120px;
}

.space
{
	 width:60px;
	 height:60px;
	 border:5px solid black;
	 float:left;
}

div[data-selected = true]
{
	background-color: magenta;
}

div[data-controlled = 'B']
{
	background-color: blue;
}

div[data-controlled = 'R']
{
	background-color: red;
}


